#hatmot
{
margin: 0;
}         
h1{
background-color: brown;
text-align: center;
padding: 80px;

}
nav
{
background-color: aquamarine;
overflow: hidden;
}
nav a{
    color:black;
padding: 13px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color:  black;
    color: white;
}
nav a.giữa
{
float: right ;
}

nav a.phải
{
float: right;
}
nav a.trái
{
float: left;
}
#trái
{
    flex: 30%;
background-color: antiquewhite;
padding: 10px;
}
#phải
{
    flex: 70%;
    background-color: chocolate ;
    padding: 14px 10px;
}
#trùm{
    display: flex;
    flex-wrap: nowrap;
}
#footer
{
    background-color:black;
    padding: 10px;
    color: aliceblue;
}
#trái a{
    
    margin: 20px 50px;
    padding: 0;
}
#nhập
{
   background-color: antiquewhite; 
}

@media (max-width: 800px) 
{
    #trái{
        flex: 100%;
    } 
    #phải
    {
        flex: 100%;
    } 
    #trùm
    {
    flex-wrap: wrap;   
    }
    nav a.phải
    {
    float: none;
    }
    nav a.trái
    {
    float: none;
    }
    nav a.giữa
    {
    float:none ;
    }
}