#phan_1
{   margin: 0;
    background-color:aqua;
    text-align: center;
    padding: 20px;
}
nav
{ 
    background-color: rgb(63, 57, 57); 
    overflow: hidden;
}
nav a
{   text-decoration: none;
    color :red;
    padding: 20px;
    display: block;
    
}
nav a:hover
{
    background-color: rgb(193, 209, 209);
    color: black;
}
#trái
{
    float: left;
}
#phải
{
    float: right;
}
#meotayy
{
 flex: 40%;
 background-color: chartreuse;
 padding: 14px ;

}
#meonguu
{
 flex: 60%;
 padding: 14px;
 background-color: chocolate;
}
#bameo
{
    display: flex;
    flex-wrap: nowrap;
} 
table
{   
    width: 100%;
    border-collapse: collapse;
} 
table td
{
    text-align: center;
    color :bisque;
}
table th,td
{
 border: 1px solid;
}
table th
{
    background-color: cornflowerblue;
    padding: 10px;
}
#bonlop
{
    display: flex;
    flex-wrap: wrap;
}
.lop
{
    flex: 33%;
    padding: 3px 0px;
    text-align: center;
    background-color: rgb(87, 228, 106);
}
.ảnh
{
    width: 90%;
}
#nhiều_mèo
{
    text-align: center;
    background-color: rgb(197, 18, 188);
    margin: 0;
    padding: 12px;
}
a{
    text-decoration: none;
}
@media (max-width: 800px)
{
    #meotayy
    {
        flex: 100%;
    }
    #meotaa
    {
        flex: 100%;
    }
    #meonguu
    {
        flex: 100%;
    }
    #bameo
    {
        flex-wrap: wrap;
    }
    .lop
    {
        flex: 50%;
    }
}
